.row {
  display: flex;
  flex-direction: row;
}
.empty {
  display: flex;
  margin-left: -1px;
  margin-top: -1px;
  height: 50px;
  width: 50px;
  border: solid 1px black;
  background-color: rgb(71, 154, 226);
}
.square {
  display: flex;
  margin-left: -1px;
  margin-top: -1px;
  height: 50px;
  width: 50px;
  border: solid 1px black;
  background-color: rgb(230, 73, 196);
}
.cross {
  display: flex;
  margin-left: -1px;
  margin-top: -1px;
  height: 50px;
  width: 50px;
  border: solid 1px black;
  background-color: rgb(46, 226, 40);
}
